CMakeLists.txt.user
CMakeCache.txt
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeFiles
Testing
build
build-debug
build-release
cmake-build-debug
term-build
shell.drv
